<div class="quiz-launch-settings">
    <div class="quiz-launch-settings-item">
        <span class="material-symbols-outlined">
            group
        </span>
        <input type="number" (input)="onSettingInput('playersAmount')($event)" value="{{launchSettings.playersAmount}}">
    </div>

    <div class="quiz-launch-settings-item">
        <span class="material-symbols-outlined">
            favorite
        </span>
        <input type="number" (input)="onSettingInput('livesAmount')($event)" value="{{launchSettings.livesAmount}}">
    </div>

    <div class="quiz-launch-settings-item">
        <span class="material-symbols-outlined">
            refresh
        </span>
        <input type="number" (input)="onSettingInput('roundsAmount')($event)" value="{{launchSettings.roundsAmount}}">
    </div>
</div>