<div class="quiz-launch-settings">
    <div class="quiz-launch-settings-item">
        <span class="material-symbols-outlined">
            group
        </span>
        <input type="number" value="3">
    </div>
    
    <div class="quiz-launch-settings-item">
        <span class="material-symbols-outlined">
            favorite
        </span>
        <input type="number" value="5">
    </div>

    <div class="quiz-launch-settings-item">
        <span class="material-symbols-outlined">
            refresh
        </span>
        <input type="number" value="10">
    </div>
</div>