
.quiz-card {
    background-color: var(--bg-elv-color);
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 3px 1px rgba($color: #000000, $alpha: 0.2);
    min-height: 50vh;
}

@media only screen and (max-device-width: 720px){
    .quiz-card {
        max-width: inherit;
        width: 100%;
        margin: 0;
        padding: 20px;
        border-radius: 0px;
        box-shadow: none;
        min-height: 100vh;
    }
}