<div class="quiz-playground">
    <div class="quiz-playground-header">
        {{ quizGame.getCurrentRoundNumber() }} / {{ quizGame.getSettings().roundsAmount }}
    </div>

    <app-quiz-players-board [selectedPlayerIndex]="this.quizGame.getCurrentTurn().index"
        [players]="quizGame.getPlayers()"> </app-quiz-players-board>

    <app-quiz-timer (timeEnded)="onTimeEnded()"></app-quiz-timer>

    <app-quiz-question (answered)="onQuestionAnswered()"
        [question]="this.quizGame.getCurrentTurn().question"></app-quiz-question>

    <app-quiz-playground-controls [visible]="this.quizGame.getCurrentTurn().question.isAnswered()"
        (nextClicked)="onNextClicked()"></app-quiz-playground-controls>
</div>