.quiz-question {
    .quiz-question-text {
        font-size: 30px;
        font-weight: bold;
        margin-top: 50px;
        user-select: none;
    }

    .quiz-question-answers-list {
        padding: 20px;
        
        .quiz-question-answer {
            margin-top: 20px;
            padding: 10px;
            background-color: var(--bg-color);
            font-size: 18px;
            font-weight: bold;
            border-radius: 5px;
            border-bottom: 3px solid var(--secondary-light-color);
            cursor: pointer;
            user-select: none;
            transition-property: background-color, color, border-color;
            transition-duration: 0.3s;

            &.wrong {
                background-color: #C1292E!important;
                color: var(--bg-color);
            }

            &.correct {
                background-color: #5EFC8D!important;
                color: var(--ft-color)!important;
            }

            &:hover {
                background-color: var(--secondary-color);
                color: var(--bg-color);
                border-color: var(--secondary-dark-color);
            }
        }
    }
}