<div class="quiz-question">
    <div class="quiz-question-text">{{ question.text }}</div>
    <div class="quiz-question-answers-list">
        @for (answer of question.getSchuffledAnswers(); track answer) {
            <div 
                [class.wrong]="answer === question.selectedAnswer"
                [class.correct]="question.isAnswered() && question.isAnswerCorrect(answer)" 
                [class.skipped]="question.wasSkipped() && question.isAnswerCorrect(answer)" 
                (click)="onAnswerClicked(answer)()" 
                class="quiz-question-answer">
                {{ answer }}
            </div>
        }
    </div>
    @if (question.isAnswered() && !question.wasSkipped() && !question.isCorrectlyAnswered()) {
        <audio autoplay>
            <source src="/error.mp3" type="audio/mpeg">
        </audio>
    }

    @if (question.isAnswered() && question.isCorrectlyAnswered()) {
        <audio autoplay>
            <source src="/success.mp3" type="audio/mpeg">
        </audio>  
    }
</div>