<div class="quiz-question">
    <div class="quiz-question-text">The word &quot;abulia&quot; means which of the following?</div>
    <div class="quiz-question-answers-list">
        <div class="quiz-question-answer">
            The inability to stand up
        </div>
        <div class="quiz-question-answer">
            The inability to make decisions
        </div>
        <div class="quiz-question-answer">
            The inability to concentrate on anything
        </div>
        <div class="quiz-question-answer">
            A feverish desire to rip one&#039;s clothes off
        </div>
    </div>
</div>