@keyframes blink-animation {
    0% {
        color: var(--red-color);
    }

    100% {
        color: #8B0000;
        transform: scale(1.2);
    }
}

.quiz-timer {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    user-select: none;
    text-align: center;
    transition: color 0.25s;

    &.warn {
        color: var(--red-color);
        animation: blink-animation 0.5s infinite alternate;
    }

    &.expired {
        color: var(--red-color);
    }
}