<div
 [class.warn]="isTimerRunning() && timeLeft > 0 && timeLeft <= timerThreshold"
 [class.expired]="initialized && timeLeft <= 0"
 class="quiz-timer">
    {{ getPrettyTime() }}
    @if (timeLeft <= 0) {
        <audio autoplay>
            <source src="/church-bell.mp3" type="audio/mpeg">
        </audio>
    }

    @if (isTimerRunning() && timeLeft > 0 && timeLeft < timerThreshold - 1) {
        <audio autoplay>
            <source src="/heartbeat.mp3" type="audio/mpeg">
        </audio>
    }
</div>