<div class="quiz-launch">
    <div class="quiz-launch-header">
        Settings
    </div>
    <div class="quiz-launch-setting-container">
        <app-quiz-launch-settings (settingChaned)="onSettingChanged($event)"></app-quiz-launch-settings>
    </div>
    <div class="quiz-player-settings-container">
        <app-quiz-player-settings [playerNames]="playerNames"></app-quiz-player-settings>
    </div>
    <div class="quiz-launch-button-container">
        <app-quiz-launch-button (click)="launchGame()"></app-quiz-launch-button>
    </div>
</div>