:root {
    --bg-color: #E2FDFF;
    --bg-elv-color: #BFD7FF;
    --bg-over-color: #9BB1FF;
    --secondary-color: #5465FF;
    --secondary-light: #788BFF;
    --ft-color: #000;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--ft-color);
}