.quiz-player-settings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

    .quiz-player-settings-input {
        flex: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        span {
            font-size: var(--quiz-launch-font-size);
            font-weight: bold;
        }

        input {
            font-size: var(--quiz-launch-font-size);
            outline: none!important;
            background-color: var(--secondary-light);
            border: none;
            border-bottom: 3px solid var(--secondary-color);
            border-radius: 10px;
            padding: 10px;
        }
    }
}