.quiz-player-settings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: auto;
    max-height: 500px;

    .quiz-player-settings-input {
        flex: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        span {
            font-size: var(--quiz-launch-font-size);
            font-weight: bold;
        }

        input {
            font-size: var(--quiz-launch-font-size);
        }
    }
}